.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  background-color: $headerBg;
  color: $mainLinkColor;
  height: $headerHeight;
  width: 100%;

  &__menu-toggle {
    display: none;
    width: 32px;
    height: 32px;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
    background: rgba(255, 255, 255, .4);
    border-radius: 5px;

    &:hover {
      background: rgba(255, 255, 255, .8);
    }

    * {
      transition: all 200ms ease-in-out;
    }

    span {
      display: block;
      background: #566973;
      border-radius: 2px;
    }

    &__hamburger {
      position: absolute;
      height: 100%;
      width: 100%;

      span {
        width: 24px;
        height: 4px;
        position: relative;
        top: -2px;
        left: 4px;
        margin: 6px 0;

        &:nth-child(1) {
          transition-delay: .5s;
        }

        &:nth-child(2) {
          transition-delay: .625s;
        }

        &:nth-child(3) {
          transition-delay: .75s;
        }
      }
    }

    &__cross {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: rotate(44deg);

      span {
        &:nth-child(1) {
          height: 0;
          width: 4px;
          position: absolute;
          top: 13%;
          left: 15px;
          transition-delay: 0s;
        }

        &:nth-child(2) {
          width: 0;
          height: 4px;
          position: absolute;
          left: 12%;
          top: 14px;
          transition-delay: .25s;
        }
      }
    }

    &--open {
      .header-bar__menu-toggle__hamburger {
        span {
          width: 0;

          &:nth-child(1) {
            transition-delay: 0s;
          }

          &:nth-child(2) {
            transition-delay: .125s;
          }

          &:nth-child(3) {
            transition-delay: .25s;
          }
        }
      }

      .header-bar__menu-toggle__cross {
        span {
          &:nth-child(1){
            height:78%;
            transition-delay: .625s;
          }
        }

        span {
          &:nth-child(2) {
            width:80%;
            transition-delay: .375s;
          }
        }
      }
    }
  }

  &__dots {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 33%;
    max-width: 50px;

    &__dot {
      width: 10px;
      min-width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 2px;

      &--red {
        background-color: $dotRed;
      }

      &--yellow {
        background-color: $dotYellow;
      }

      &--green {
        background-color: $dotGreen;
      }
    }
  }

  &__title {
    width: 33%;
    max-width: 120px;
    text-align: center;

    i {
      font-size: 16px;
    }

    span {
      font-size: 12px;
    }
  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 33%;

    &__support-container {
      min-width: 200px;

      .help {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: $headerHeight;

        a {
          color: $mainLinkColor;
          text-decoration: none;
          text-transform: capitalize;
          font-size: 13px;
          width: 45%;
          white-space: nowrap;

          &:first-of-type {
            text-align: right;
          }
        }

        .dot-divider {
          width: 4px;
          height: 4px;
          background-color: #19202e;
          display: block;
          margin: 0 12px;
          border-radius: 50%;
        }
      }

      i {
        display: none;
      }
    }

    &__user-container {
      color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 6px 12px;
      background-color: #15a4fa;
      height: 100%;
      min-width: 160px;
      max-width: 180px;

      .avatar {
        border: 2px solid #fff;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        min-width: 32px;
        overflow: hidden;
        cursor: pointer;

        img {
          width: 100%;
        }
      }

      .name {
        margin: 0 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 80px;
        overflow: hidden;
      }

      i {
        font-size: 16px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: $breakMiddle) {
  .header-bar {
    position: fixed;

    &__menu-toggle {
      display: block;
    }

    &__dots {
      width: 25%;
    }

    &__title {
      width: 25%;
    }

    &__controls {
      width: 50%;

      &__user-container {
        min-width: 40px;
        max-width: 60px;

        .name,
        i {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: $breakSmall) {
  .header-bar {
    flex-wrap: wrap;
    padding-left: 0;

    &__dots {
      width: 30%;
    }

    &__controls {
      &__support-container {
        position: relative;
        height: $headerHeight;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        i {
          display: block;
          cursor: pointer;
          width: 30px;
          font-size: 30px;
          line-height: $headerHeight;
        }

        .help {
          position: absolute;
          background-color: $headerBg;
          width: 100%;
          top: -$headerHeight;
          opacity: 0.1;
          transition: all 200ms ease-in-out;

          &--collapsed {
            opacity: 1;
            top: $headerHeight;
          }
        }
      }
    }
  }
}
