.left-bar {
  max-width: 200px;
  min-height: 100%;
  background-color: $leftBarBg;

  &__add-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 115px;
    background-color: $blockBg;
    margin-bottom: 4px;
    border-bottom: 1px solid $bottomBlockColor, 0.5;
  }

  &__add-btn {
    transition: all 0.5s;
    position: relative;
    border-radius: 4px;
    background-color: #f2795a;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    min-width: 160px;
    padding: 8px;

    i {
      margin-right: 20px;
    }

    span {
      font-family: $mainFont;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.86;
      letter-spacing: normal;
      text-align: center;
      text-transform: uppercase;
    }

    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      background-color: rgba(195, 12, 12, 0.5);
      transition: all 0.4s;
      will-change: transform;
      transform: scale(0.5, 1);
    }

    &:hover::before {
      opacity: 1;
      will-change: transform;
      transform: scale(1, 1);
    }
  }

  &__nav-menu {
    border-top: 1px solid rgba($mainLinkColor, 0.5);
    border-bottom: 1px solid $bottomBlockColor;
    background-color: $blockBg;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-bottom: 4px;

    &__item {
      color: $mainLinkColor;
      text-decoration: none;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: normal;
      text-align: left;
      padding: 6px 20px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      will-change: background-color, color;
      transition: all 200ms ease;
      transition-property: background-color, color;

      i {
        font-size: 16px;
        margin-right: 13px;
      }

      &:hover {
        background-color: #15a4fa;
        color: #fff;
      }
    }
  }

  &__flags {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $blockBg;
    border-top: 1px solid rgba($mainLinkColor, 0.5);
    border-bottom: 1px solid $bottomBlockColor;
    margin-bottom: 4px;
    padding: 16px 0 10px 0;

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 14px 25px;

      .circle {
        width: 6px;
        height: 6px;
        border-radius: 6px;
        margin-right: 15px;

        &--red {
          background-color: $dotRed;
        }

        &--yellow {
          background-color: $dotYellow;
        }

        &--blue {
          background-color: $dotBlue;
        }

        &--violet {
          background-color: $dotViolet;
        }
      }

      a {
        color: $mainLinkColor;
        font-size: 13px;
        text-transform: capitalize;
        text-decoration: none;
      }

      &:hover {
        .circle {
          will-change: transform;
          transform: scale(1.5);
          transition: transform 200ms ease;
        }
      }
    }
  }

  &__history {
    border-top: 1px solid rgba($mainLinkColor, 0.5);
    border-bottom: 1px solid $bottomBlockColor;
    background-color: $blockBg;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-bottom: 4px;
    color: $mainLinkColor;
    padding: 18px 0;

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 18px 18px 18px 20px;

      i {
        font-size: 16px;
        margin-right: 13px;
      }

      .description {
        line-height: 1.5;

        &__title {
          margin-bottom: 18px;

          .highlight {
            color: #97b3ce;
          }
        }
      }
    }
  }
}
