@import 'variables/colors';
@import 'variables/text';
@import 'variables/media';
@import 'mixins/mixins';
@import 'reset';
@import 'fonts';
@import '../vendor/scss/font-awesome/font-awesome';
@import 'header';
@import 'left-bar';
@import 'book-list';
@import 'rate';
@import 'footer';

.main-wrapper {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: $breakMiddle) {
    padding-top: $headerHeight;
  }
}
