$dotRed: #e76847;
$dotYellow: #ffab00;
$dotGreen: #52bea6;
$dotBlue: #00bfdd;
$dotViolet: #7874cf;
$mainLinkColor: #78829d;
//Header
$headerBg: #2f364a;
//LeftBar
$bottomBlockColor: #141824;
$leftBarBg: #181e2c;
$blockBg: #1f2637;
